

 .completed {
        text-decoration: line-through;
        color: gray;
        background-color: lightgreen; /* Fundo verde para tarefas concluídas */
    }
body{
    background-color: black;
    text-align: center;
}
